html,
body {
    height: 100%;
}

* {
    font-family: 'Courier New', Courier, cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.layout {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

.main-container {
    min-height: 100%;
    flex: 1;
}

.header {
    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgba(0, 178, 255, 0.82);

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.menu ul {
    padding: 50px;

    list-style: none;
    display: flex;
    flex-direction: row;
}

a {
    font-size: 2em;
    text-decoration: none;
    color: blueviolet;
}

a:hover {
    color: red;
}

.right {
    max-width: 17%;
    border-left: black solid;
}

.menu {
    min-width: 30%;
    display: flex;
    flex-direction: column;
}

.menu > ul {
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: row;

    flex: 1;
    overflow: hidden;

}

.main-container {
    display: flex;
    flex-direction: column;
}

.article-container {
    display: flex;
    flex-direction: row;

    min-height: 85%;
    overflow: hidden;
}

.article {
    width: 100%;
}

.article img {
    display: block;
    min-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.left {
    min-width: 100px;
    max-width: 400px;

    border-right: black solid;
    display: flex;

    flex-direction: column;
}

.left-top {
    height: 50%;
    border-bottom: black solid;
}

.left-bottom {
    height: 50%;
}

.x-label h2{
    margin: 10px;
    font-size: 20px;

    text-align: center;
    min-width: 100px;

    padding: 20px;
    border: 1px solid black;
}

.footer {
    display: flex;
    flex-direction: row;
    flex: 1;

    padding: 10px;

    height: auto;

    border-top: black solid;
    background-color: #00ffd0;
}

.footer > h3 {
    margin-right: 20px;
    margin-left: 20px;
    padding: 30px;
    font-size: 16px;
    border: 1px solid black;

    display: flex;
    align-items: center;
}

.footer > p {
    display: flex;
    align-items: center;
}

.content p {
    padding: 15px;
    text-align: justify;

}