html {
    background: black;
}

a {
    text-decoration: none;
    color: rgb(131, 2, 173);
}

a:hover {
    color: rgb(35, 175, 151);
}

ul {
    padding: 0;
    list-style: none;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    text-align: center;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-align: center;
    color: rgb(131, 2, 173);
}