html,
body {
    height: 100%;
}

* {
    font-family: 'Courier New', Courier, cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 100%;
}

.menu {
    min-width: 50%;

    margin-bottom: auto;
    margin-top: auto;
}

.menu ul {
    padding: 50px;
    margin-left: 50px;
    min-width: 40%;

    list-style: none;
    display: flex;

    justify-content: space-between;
    text-align: center;
}

a:hover {
    color: red;
}

a {
    color: blueviolet;
    text-decoration: none;
}

.menu li {
    font-size: 30px;
    padding: 0 10px;
}

.content p {
    padding: 15px;
    text-align: justify;
}

.content {
    display: grid;
    grid-template-columns: 5fr 1fr;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;

    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgba(0, 178, 255, 0.82);
}

.x-label h2 {
    margin: 10px;
    font-size: 20px;

    text-align: center;
    min-width: 100px;

    padding: 20px;
    border: 1px solid black;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    justify-content: start;
    border-top: 1px solid black;
    padding: 10px;

    min-height: 100%;
    background-color: #00ffd0;
}

.main-container {
    display: grid;
    grid-template-rows: 1fr auto;
}

.footer h3 {
    margin-right: 20px;
    padding: 30px;
    font-size: 16px;
    border: 1px solid black;
}

.left img {
    min-height: 100%;
    max-width: 100%;
}

.article-container {
    max-width: 100%;

    display: grid;
    grid-template-columns: auto 1fr;
}

.left {
    display: grid;
    grid-auto-rows: auto 1fr;

    min-width: 300px;
    max-width: 400px;

    border-right: 1px solid black;
}

.left-top {
    border-bottom: dotted;
}

.article {
    background-color: #ffffff;
    /*max-width: 100%;*/
}

.right {
    border-left: 1px solid #000000;
    min-width: 25%;
}

ol {
    font-family: "Times New Roman", serif;
    font-size: 28px;
    margin-left: 100px;
    margin-right: auto;
}